.accordions {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 100px;
    @media screen and (max-width: 768px) {
        margin: 0 20px;
    }
}

.accordion {
    width: 1023px;
    height: 52px;
    transition: all 0.3s ease-in-out;
    @media screen and (max-width: 768px) {
        height: 30px;
        border-radius: 5px;    
    }
}

.fall {
    margin-bottom: 92px;
    @media screen and (max-width: 768px) {
        margin-bottom: 62px;
    }
}

.accordion__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FF6060;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    @media screen and (max-width: 768px) {
        font-size: 13px;
    }
}
    
.accordion__icon {
    position: relative;
    width: 24px;
    height: 13.71px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        width: 16px;
        height: 8px;
    }
}

.accordion__icon::before {
    position: absolute;
    transform: rotate(90deg);
}
    
.rotate {
    transform: rotate(-180deg);
}

.accordion__content {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 15px;
    transition: all .4s ease-in-out;
    transform: translateY(-40px);
    background: #F6F6F6 ;
    border-radius: 5 5 10px 10px;
    color: #FF6060;
}

.show {
    height: 100%;
    opacity: 1;
    visibility: visible;
    transform: translateY(-5px);
    position: relative;
    z-index: -1;
}