.cards-container {
    display: flex;
    justify-content: center;
    margin: 0 100px;
    .cards {
        background-color: #F6F6F6;
        border-radius: 25px;
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 60px;
        flex-wrap: wrap;
        padding: 50px;
        .card{
            width: 340px;
            height: 340px;
            text-decoration: none;
            border-radius: 10px;  
            box-shadow: 0px -115px 74px -8px rgba(0,0,0,0.85) inset;
                -webkit-box-shadow: 0px -115px 74px -8px rgba(0,0,0,0.85) inset;
                -moz-box-shadow: 0px -115px 74px -8px rgba(0,0,0,0.85) inset;
            img {
                width: 340px;
                height: 340px;
                border-radius: 10px;  
                object-fit: cover;
                z-index: -1;
                position: relative;
            }
    
            h3 {
                z-index: 2;
                margin-top: -70px;
                margin-left: 15px;
                margin-right: 15px;
                font-size: 18px;
                color: white;
            }
        }
    
    }
}