@import './settings';

error-page {
    display: flex;
    justify-content: center;
}

.error-logo {
    display: flex;
    justify-content: center;
    margin: 140px 0;
    @media screen and (max-width: 768px) {
        width: 200px;
        height: 100px;
        margin: 113px auto;
    }
    img {
        @media screen and (max-width: 768px) {
            width: 100%;
            height: 100%;
        }
    }
}

.error-and-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-msg {
    color: $pink;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin: 140px 120px;
    text-align: center;
    @media screen and (max-width: 768px) {
        width: 260px;
        height: 52px;
        font-size: 18px;
        margin: 0 auto 140px;
        text-align: center;
        margin-bottom: 113px;
    }
}

.home-link {
    display: flex;
    justify-content: center;
    color: $pink;
    text-decoration: underline $pink;
    font-size: 18px;
    margin-bottom: 140px;
    @media screen and (max-width: 768px) {
        font-size: 14px;
        width: 221px;
        margin: 0 auto 83px;
    }
}